body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.titulo {
    text-align: center;
    margin: 80px;
    text-decoration: underline;

}

.navbar {
    background-color: #0e0e0f;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 80px;
    margin-right: 10px;
    border-radius: 50px;
}

.navbar-name {
    font-size: 28px;
    font-weight: bold;
}

.navbar-right {
    
    display: flex;
    justify-content: flex-end;
}

.navbar-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-right ul li {
    margin-left: 20px;
}

.navbar-right ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.navbar-right ul li a:hover {
    text-decoration: underline;
}

.container {

    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.header-logo {
    width: 150px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}



.footer img {
    width: 120px;
    border-radius: 80px;
}

.footer {
    margin-top: 200px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer-links {
    margin-top: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.formu1 {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Estilos para el mensaje de alerta */
#mensaje {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#mensaje.oculto {
    display: none;
}

#mensaje.error {
    background-color: #f44336;
    color: white;
}

#mensaje.exito {
    background-color: #4caf50;
    color: white;
}

/* Estilos para el modal */
#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#modal.visible {
    display: block;
}

#toggle-form-button {
    max-width: 200px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #4ec612;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    
}

.botonllamada{
    display: block;
    width: 250px;
    margin: 20px auto; 
    padding: 15px 20px;
    background-color: #007bff; 
    color: #fff; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0056b3;
}

.prestamo {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.prestamo h2 {
    color: #007bff;
}

.botonllamada2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.botonllamada2:hover {
    background-color: #337436;
}
 .container1 {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
 

